@import url(./reset.css);
html{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), 
    url(../asset/back_img.png)no-repeat fixed center center  / cover;
}



body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 2rem;
    list-style: none;
    padding-left: 200px;
    font-family: "Protest Revolution";
}

.navigation {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.navigation li a{
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.navigation .active {
    color: #ff0000;
}

main {
    padding: 2rem;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.container1 {
    max-width: 110rem;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.text {
    display: inline-block;
    margin-left: 20px;
    color: #ffd700;
}

.p-box {
    text-align: center;
    margin: 45px auto;
    padding: 40px;
    color: #ffff;
    font-size: 26px;
}

.paragraph-box {
    text-align: center;
    margin: 65px auto;
    padding: 40px;
    background-color: #00F0FF;
    border: 2px solid #1e90ff;
    color: #fff;
}

.text-center h2 {
    color: #ffd700;
    text-align: center;
}
.text-center-sel{
    color: #ffd700; 
}

.login-form {
    max-width: 100%;
    margin: 45px auto;
}

.login-form label {
    display: block;
    margin-top: 1.5rem;
    color: #00F0FF;
}

.login-form input {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
}

.submit-button1 {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: #00F0FF;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 16px; 
}

.submit-button {
    text-align: center;
}

.submit-button a {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00F0FF;
    color: black;
    text-decoration: none;
    border-radius: 0.3rem;
}

footer {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section img{
    width: 100%;
}

div.form{
    max-width: 100rem;
    margin: 5rem auto;
    color: #fff;
}

.image-films {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.image-films img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}

.image-box {
    width: 252px;
    height: 183px;
    flex: 1;
}

.image-box-regis{
    width: 569px;
    height: 184px;
    margin: 6rem auto;

}

.second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-container1 {
    flex: 1;
    padding-right: 20px;
}

.second-container h2 {
    color: #ffd700;
    margin-bottom: 10px;
}

.second-container p {
    color: #fff;
}

.container-regi {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.register-form label {
    display: block;
    margin-top: 1.5rem;
    color: #00F0FF;
}

.register-form input {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    font-size: 16px;
}

.email-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.email-form label {
    display: block;
    margin-top: 1.5rem;
    color: #00F0FF;
}

.email-form input {
    width: 100%;
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    font-size: 16px;
}