@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab:wght@600&display=swap');
@import url('./reset.css');

:root{
    --primary-color:#FFF500;
    --secondary-color:#00F0FF;
    --cmpl-color:#ff0000;
    --submit-color :#000;
    --list-color :#ffff;
}
body{
    font-family: Lexend Deca;
    font-weight: 700;
    display: grid;
    height: 100vh;
}
section,footer,main{
    background-color: var(--secondary-color);
}
.container{
    padding: 1rem;
    width: 80%;
    margin:auto;
}
header{
    background-color: var(--secondary-color);
    padding: 1rem 0;
    width: 100%;
}
nav a{
    margin-left: 2rem;
    color: var(--list-color);
    font-weight: 700;
    transition: 100ms;
}
.actually{
    color: var(--cmpl-color);
}
nav a:hover {
    opacity: 0.6;
  }
  .logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../asset/back_img.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.logo{
    width: 15%;
}
.logo_1{
    width: 10%;
    min-width: 6rem;
} 
.text{
    width: 70%;
    text-align: center;
    color: var(--primary-color);
} 
.list {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
}
.display img{
    object-fit: cover;
}

.display h1{
    margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-1{
    width: 80%;
    margin: 0 auto;
    color: var(--cmpl-color);
    text-align: center;
}
.content-2{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    color: var(--cmpl-color);
}
.img_p1{
    margin-top: 2rem;
    width:20rem;
    border-radius: 1rem;
    overflow: hidden;
}
.img_p2{
    margin-top: 2rem;
    width:100%;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;

}
.text_1{
    display: flex;
    align-items: center;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem; 
}
.poster_img{
    width: 23%;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
}

.m-1{
    margin: 2rem 0;
}
input{
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem;   
}
bdi{
    color: var(--primary-color);
}
input[type=search] {
    width: 80%;
}
  /* inscrire */
.login input{
    display: block;
    color: var(--cmpl-color);
    width: 100%;
    margin: 1rem 0;
    background: rgb(255, 255, 255);
  }
.login input[type=submit] {
    width: 100%;
    margin-top: 2rem;
    opacity: 1;
    transition: 100ms;
  }
  /* inscrire */
  #connecter{
    width: 25%;
    min-width: 10rem;
  }
input[type=submit] {
    background-color: var(--primary-color);
    color: var(--cmpl-color);
    transition: 100ms;
  }
  input[type=submit]:hover {
    opacity: 0.8;
  }
  .valider{
    width: 100%;
    margin-top: 1.3rem;
    border-radius: 0.6rem;
    padding: 1rem 1.2rem;
    background-color: var(--secondary-color);
    color: var(--cmpl-color);
    transition: 100ms;
  }
  .sc{
    width: 25%;
    min-width: 10rem;
  }
  .valider:hover{
    opacity: 0.8;
  }


  .p-1{
    border: 2px solid var(--submit-color);
    margin-bottom: 1rem;
    border-radius: 1rem;

  }

  .p-1 p{
    margin: 4rem; 
  }

  footer{
    text-align: center;
    color: var(--cmpl-color);
  } 
  .list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
  }

  .text-center{
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  ul{
    display: inline;
  }
  .info_img{
    flex: 1;
  width:30%;
  }
  .item_img{
    width:100%;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  li{
    margin-bottom: 2rem;
  }
  ul li:nth-child(3){
    padding: 1rem;  
    border-radius: 0.8rem;
    color: var(--cmpl-color);
    background-color: var(--primary-color);
    transition: 100ms;
  }
  ul li:nth-child(3):hover{
    opacity: 0.8;
  }
  a{
    color: var(--submit-color);
  }
  @media screen and (max-width:700px){
    body{
      font-size: 1rem;
    }
    .container{
      width: 98%;
  }
  .text{
margin-left: 1rem;
    width: 70%;
    text-align: justify;
    color: var(--primary-color);
} 
.content-1{
    width: 90%;
}
.content-2{
    width: 90%;
}
input[type=search] {
  width: 60%;
}
.poster_img{
  width: 21%;
  min-width:8rem;
  height: 12rem;
  border-radius: 0.6rem;
  overflow: hidden;
}
.sc{
  width: 50%;

}
  }
  @media screen and (max-width:414px){
    body{
      font-size: 0.8rem;
    }
    .grid-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 1.5rem;
       
  }

    .poster_img{
      flex: 1;
      min-width:45%;
      height: 18rem;
      border-radius: 0.6rem;
      overflow: hidden;
    }
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background: #5CD2C6; */
    background: url('../all of pictures/backgroundphoto_prjt.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}